body {
    background-image: url(https://images.pexels.com/photos/1656688/pexels-photo-1656688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.bback {
    position: absolute;
    right: 15px;
    position: fixed;
}

.sset {
    text-decoration: none;
    color: white;
    background-color: rgb(119, 40, 40);
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    transition: 1s;
    display: inline-block;
    padding: 20px;
}

.sset:hover {
    color: black;
    background-color: rgb(233, 168, 72);
}

.area {
    height: 100vh;
}

.area1 {
    background-image: url(https://images.pexels.com/photos/1656688/pexels-photo-1656688.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.area2 {
    background-image: url(https://images.pexels.com/photos/1382726/pexels-photo-1382726.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.area2-1 {
    background-image: url(https://idben.tw-no1.com/ntuewd/images/bear1.png), url(https://idben.tw-no1.com/ntuewd/images/dlg.png);
    background-size: 170px, 370px;
    background-repeat: no-repeat;
    background-position: right bottom, calc(100% - 200px) 70%;
}

.area3 {
    background-image: url(https://images.pexels.com/photos/89779/girl-rustic-grass-meadow-89779.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
}

.acc {
    width: 30%;
    object-fit: cover;
    object-position: right bottom;
}

.area4 {
    background-image: url(https://images.pexels.com/photos/1322137/pexels-photo-1322137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
}

.area5 {
    background-image: url(https://images.pexels.com/photos/2513605/pexels-photo-2513605.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
}

.area6 {
    background-image: url(https://images.pexels.com/photos/6583514/pexels-photo-6583514.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center center;
}

.article1 {
    width: 100%;
    min-height: calc(100vh - 40px);
    background-size: 200px 200px;
    /*   background-color: black; */
    background-image: url(https://dsa.ntue.edu.tw/epaper/images/bodybg.gif);
}